
/***********login page *****************/
.down{
    margin-top: 8%;
}



/**************************Footer*******************************/
.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;

}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

/**************************ALL*******************************/
.box{
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-bottom: 30px;
}
.full-width{
    width: 100%;
}
.text-center{
    text-align: center;
}
hr{
    width: 90% !important;
    text-align: center;
}
/**************************Product*******************************/
.product-header{
    text-align: center;
    border-bottom: 1px solid #eee;
}
.product-detail{
    margin-top: 3%;
}
.cart-bottom{
    margin-top: 8%;
}

/*************** search product *********/

.bottom{
    margin-bottom: 8%;
}